In [1]:
# Question 1: Check if 25 is greater than 20 and less than 30
print("Question 1: Check if 25 is greater than 20 and less than 30")

Question 1: Check if 25 is greater than 20 and less than 30

In [3]:
if 25>20 and 25<30 :
    print("25 is greater than 20 and less than 30")
else:
    print("not justified")

25 is greater than 20 and less than 30

In [4]:
# Question 2: Check if string "python" is equal to "Python" (case sensitive)
print("\nQuestion 2: Check if string 'python' is equal to 'Python' (case sensitive)")

Question 2: Check if string 'python' is equal to 'Python' (case sensitive)

In [5]:
if 'python'=='Python':
    print("'python' is equal to 'Python'")
else:
    print("'python' is not equal to 'Pyton'")

'python' is not equal to 'Pyton'

In [6]:
# Question 3: Check if 15 is divisible by both 3 and 5
print("\nQuestion 3: Check if 15 is divisible by both 3 and 5")

Question 3: Check if 15 is divisible by both 3 and 5

In [7]:
if 15%3==0 and 15%3==0:
    print("15 is divisible by both 3 and 5")
else:
    print("15 is not divisible by 3 and 5")

15 is divisible by both 3 and 5

In [8]:
# Question 4: Check if 7 is not equal to 8
print("\nQuestion 4: Check if 7 is not equal to 8")

Question 4: Check if 7 is not equal to 8

In [9]:
if 7==8:
    print("7 is equalto 8")
else:
    print("7 is not equalto 8")

7 is not equalto 8

In [10]:
# Question 5: Check if 100 is greater than 50 or less than 25
print("\nQuestion 5: Check if 100 is greater than 50 or less than 25")

Question 5: Check if 100 is greater than 50 or less than 25

In [11]:
if 100>50 or 100>25:
    print("100 is greater than 50 and 25")
else:
    print("100 is less than 50 and 25")

100 is greater than 50 and 25

In [12]:
# Question 6: Check if 0 is falsy in Python
print("\nQuestion 6: Check if 0 is falsy in Python")

Question 6: Check if 0 is falsy in Python

In [13]:
if 0:
    print ("falsy in python")
else: 
    print("Truthy in python")

Truthy in python

In [14]:
# Question 7: Check if empty string "" is falsy in Python
print("\nQuestion 7: Check if empty string '' is falsy in Python")

Question 7: Check if empty string '' is falsy in Python

In [15]:
if "":
    print("is falsy in python")
else:
    print("Truthy in python")

Truthy in python

In [16]:

# Question 8: Check if 42 is truthy in Python
print("\nQuestion 8: Check if 42 is truthy in Python")

Question 8: Check if 42 is truthy in Python

In [21]:
if 42:
    print("42 is truthy.")
else:
    print("42 is falsy.")

42 is truthy.

In [25]:
# Question 9: Check if 10 is between 5 and 15 (inclusive)
print("\nQuestion 9: Check if 10 is between 5 and 15 (inclusive)")

Question 9: Check if 10 is between 5 and 15 (inclusive)

In [26]:
if 10>=5 and 10<=15:
    print("10 is between 5 and 15")
else:
    print("10 in not between 5 and 15")

10 is between 5 and 15

In [27]:
# Question 10: Check if 3.14 is greater than 3 and less than 4
print("\nQuestion 10: Check if 3.14 is greater than 3 and less than 4")

Question 10: Check if 3.14 is greater than 3 and less than 4

In [28]:
if 3.14>3 and 3.14<4:
    print("3.14 is greater than 3 and less than 4")
else:
    print("3.14 is not greater than 3 and less than 4 ")

3.14 is greater than 3 and less than 4