In [1]:
# Question 1: Create a dictionary of student names and their ages
print("Question 1: Create a dictionary of student names and their ages")

Question 1: Create a dictionary of student names and their ages

In [3]:
x={"name":"shubham","age":30}
print(x)
type(x)

{'name': 'shubham', 'age': 30}

dict

In [4]:
# Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}
print("\nQuestion 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}")

Question 2: Add a new key-value pair to dictionary {'a': 1, 'b': 2, 'c': 3}

In [6]:
x={'a': 1, 'b': 2, 'c': 3}
x['d']=5
print(x)

{'a': 1, 'b': 2, 'c': 3, 'd': 5}

In [7]:
# Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}
print("\nQuestion 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}")

Question 3: Get all keys from dictionary {'name': 'John', 'age': 25, 'city': 'New York'}

In [10]:
x={'name': 'John', 'age': 25, 'city': 'New York'}
y=x.keys()
print(y)

dict_keys(['name', 'age', 'city'])

In [11]:
# Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}
print("\nQuestion 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}")

Question 4: Get all values from dictionary {'python': 3, 'java': 2, 'c++': 1}

In [12]:
x={'python': 3, 'java': 2, 'c++': 1}
y=x.values()
print(y)

dict_values([3, 2, 1])

In [13]:
# Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}
print("\nQuestion 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}")

Question 5: Check if key 'age' exists in {'name': 'Alice', 'age': 30, 'city': 'London'}

In [15]:
x={'name': 'Alice', 'age': 30, 'city': 'London'}
y='age'
if y in x:
    print('Yes')
else:
    print("No")

Yes

In [16]:
# Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}
print("\nQuestion 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}")

Question 6: Remove key 'temp' from {'a': 1, 'b': 2, 'temp': 3, 'c': 4}

In [17]:
x={'a': 1, 'b': 2, 'temp': 3, 'c': 4}
del x['temp']
print(x)

{'a': 1, 'b': 2, 'c': 4}

In [18]:
# Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}
print("\nQuestion 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}")

Question 7: Find the sum of all values in {'math': 85, 'science': 92, 'english': 78}

In [20]:
x={'math': 85, 'science': 92, 'english': 78}
y=sum(x.values())
print(y)

255

In [21]:
# Question 8: Create a dictionary with squares of numbers 1 to 5
print("\nQuestion 8: Create a dictionary with squares of numbers 1 to 5")

Question 8: Create a dictionary with squares of numbers 1 to 5

In [22]:
x= {num: num**2 for num in range(1, 6)}
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [23]:
# Question 9: Count frequency of each character in string "hello"
print("\nQuestion 9: Count frequency of each character in string 'hello'")

Question 9: Count frequency of each character in string 'hello'

In [27]:
from collections import Counter
x='hello'
y=Counter(x)
print(y)

Counter({'l': 2, 'h': 1, 'e': 1, 'o': 1})

In [28]:
# Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}
print("\nQuestion 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}")

Question 10: Merge two dictionaries {'a': 1, 'b': 2} and {'c': 3, 'd': 4}

In [31]:
x= {'a': 1, 'b': 2}
y={'c': 3, 'd': 4}
x.update(y)
print(x)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [32]:
# Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}")

Question 11: Create a nested dictionary: {'person': {'name': 'Alice', 'age': 25}}

In [33]:
x={'person': {'name': 'Alice', 'age': 25}}
type(x)

dict

In [34]:
# Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}
print("\nQuestion 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}")

Question 12: Access nested value 'name' from {'person': {'name': 'Alice', 'age': 25}}

In [37]:
x= {'person': {'name': 'Alice', 'age': 25}}
x['person']['name']

'Alice'

In [38]:
# Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
print("\nQuestion 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}")

Question 13: Create a dictionary with list values: {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [1]:
x= {'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}
type(x)

dict

In [2]:
# Question 14: Add 'orange' to the 'fruits' list in nested dictionary
print("\nQuestion 14: Add 'orange' to the 'fruits' list in nested dictionary")

Question 14: Add 'orange' to the 'fruits' list in nested dictionary

In [3]:
print(x)

{'fruits': ['apple', 'banana'], 'colors': ['red', 'blue']}

In [4]:
x = {'fruits':{'yellow': 'mango', 'pink': 'dragon fruit'} }
y = x['fruits']['color'] = 'orange'
print(x)

{'fruits': {'yellow': 'mango', 'pink': 'dragon fruit', 'color': 'orange'}}

In [5]:
# Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}
print("\nQuestion 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}")

Question 15: Create a dictionary with tuple values: {'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [6]:
x={'coordinates': (10, 20), 'rgb': (255, 0, 0)}

In [7]:
type(x)

dict

In [8]:
# Question 16: Extract first coordinate from nested tuple
print("\nQuestion 16: Extract first coordinate from nested tuple")

Question 16: Extract first coordinate from nested tuple

In [9]:
x={'coordinates': (10, 20), 'rgb': (255, 0, 0)}
x['coordinates'][0]

10

In [10]:
# Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
print("\nQuestion 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}")

Question 17: Create a dictionary with set values: {'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [11]:
x={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}

In [12]:
print(x)

{'vowels': {'a', 'e', 'i'}, 'consonants': {'c', 'd', 'b'}}

In [13]:
# Question 18: Add 'o' to vowels set in nested dictionary
print("\nQuestion 18: Add 'o' to vowels set in nested dictionary")

Question 18: Add 'o' to vowels set in nested dictionary

In [19]:
x={'vowels': {'a', 'e', 'i'}, 'consonants': {'b', 'c', 'd'}}
y = x['vowels']
y.add('o')
print(x)  ###need to specify set then change

{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'c', 'd', 'b'}}

In [20]:
print(x)

{'vowels': {'a', 'e', 'i', 'o'}, 'consonants': {'c', 'd', 'b'}}

In [21]:
# Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print("\nQuestion 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}")

Question 19: Create a 3-level nested dictionary: {'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [22]:
x={'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}
print(x)

{'company': {'department': {'employee': {'name': 'John', 'id': 123}}}}

In [23]:
# Question 20: Access employee name from 3-level nested dictionary
print("\nQuestion 20: Access employee name from 3-level nested dictionary")

Question 20: Access employee name from 3-level nested dictionary

In [25]:
x['company']['department']['employee']['name']

'John'

In [26]:
# Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}
print("\nQuestion 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}")

Question 21: Create a dictionary with mixed data types: {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [27]:
x= {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [28]:
# Question 22: Check data type of each value in mixed dictionary
print("\nQuestion 22: Check data type of each value in mixed dictionary")

Question 22: Check data type of each value in mixed dictionary

In [29]:
x= {'int': 42, 'float': 3.14, 'str': 'hello', 'bool': True}

In [30]:
for key, value in x.items():
  print(f"The data type of the value for key '{key}' is: {type(value)}")

The data type of the value for key 'int' is: <class 'int'>
The data type of the value for key 'float' is: <class 'float'>
The data type of the value for key 'str' is: <class 'str'>
The data type of the value for key 'bool' is: <class 'bool'>

In [31]:
# Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}
print("\nQuestion 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}")

Question 23: Create a dictionary with function values: {'len': len, 'str': str, 'int': int}

In [32]:
x= {'len': len, 'str': str, 'int': int}

In [33]:

# Question 24: Apply each function to "123" using dictionary
print("\nQuestion 24: Apply each function to '123' using dictionary")

Question 24: Apply each function to '123' using dictionary

In [35]:
x= {'len': len, 'str': str, 'int': int}
x['len']='123'
x['str']='123'
x['int']='123'
print(x)

{'len': '123', 'str': '123', 'int': '123'}

In [36]:
# Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}
print("\nQuestion 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}")

Question 25: Create a dictionary with lambda functions: {'double': lambda x: x*2, 'square': lambda x: x**2}

In [37]:
x= {'double': lambda x: x*2, 'square': lambda x: x**2}

In [38]:
print(x)

{'double': <function <lambda> at 0x00000161850BBBA0>, 'square': <function <lambda> at 0x00000161850BBE20>}