In [1]:
# Question 1: Create a list of first 10 square numbers
print("Question 1: Create a list of first 10 square numbers")

Question 1: Create a list of first 10 square numbers

In [4]:
square = [i**2 for i in range(1, 11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
x=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
y=[num for num in x if num % 2 == 0]
z=sum(y)
print(z)

30

In [1]:
# Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
print("\nQuestion 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]")

Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

In [4]:
x= [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]
y=list(set(x))
print(y)

[1, 2, 3, 4, 5, 6, 7]

In [5]:

# Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order
print("\nQuestion 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order")

Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

In [11]:
x= [64, 34, 25, 12, 22, 11, 90]
y=sorted(x, reverse=True)
print(y)

[90, 64, 34, 25, 22, 12, 11]

In [12]:
# Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]
print("\nQuestion 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]")

Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

In [15]:
x= [15, 23, 31, 42, 56, 78, 91]
y=sum(x)/7
print(y)

48.0

In [16]:
# Question 6: Create a list of first 15 Fibonacci numbers
print("\nQuestion 6: Create a list of first 15 Fibonacci numbers")

Question 6: Create a list of first 15 Fibonacci numbers

In [17]:

# Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]
print("\nQuestion 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]")

Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

In [19]:
x=[45, 67, 23, 89, 12, 34, 78]
y=sorted(x,reverse=True)
print(y)
y[1]

[89, 78, 67, 45, 34, 23, 12]

78

In [20]:
# Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("\nQuestion 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]")

Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
x= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x.reverse()
print(x)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [26]:
# Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]
print("\nQuestion 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]")

Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

In [30]:
x= [1, 5, 2, 5, 3, 5, 4, 5, 6]
x.count(5)

4

In [31]:
# Question 10: Create a list of prime numbers between 1 and 50
print("\nQuestion 10: Create a list of prime numbers between 1 and 50")

Question 10: Create a list of prime numbers between 1 and 50

In [32]:
# Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
x=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum(x,[])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]
print("\nQuestion 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]")

Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

In [39]:
x=[1,2,3,4,5]
y=[4,5,6,7,8]
x=set(x)
y=set(y)

z=list(x.intersection(y))
print(z)

[4, 5]

In [37]:
# Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]
print("\nQuestion 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]")

Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

In [40]:
x=[[1, 2], [3, 4], [5, 6]]
sum(x,[])

[1, 2, 3, 4, 5, 6]

In [41]:
# Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

print("\nQuestion 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [48]:
x=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
y=[sum(sublist)for sublist in x]
print(y)

[6, 15, 24]

In [49]:
# Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [50]:
# Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
print("\nQuestion 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]")

Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [52]:
x= [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
y=[max(sublist)for sublist in x]
print(y)

[5, 9, 8]

In [53]:
# Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [54]:
# Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
print("\nQuestion 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]")

Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [55]:
# Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print("\nQuestion 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]")

Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [57]:
x=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
y=[num for sublist in x for num in sublist if num % 2==0]
print(y)

[2, 4, 6, 8]

In [58]:
# Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]
print("\nQuestion 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]")

Question 20: Create a list of mixed data types: [1, 'hello', 3.14, True, [1, 2, 3]]

In [61]:
x= [1, 'hello', 3.14, True, [1, 2, 3]]
y=type(x[0]),type(x[1]),type(x[2]),type(x[3]),type(x[4])
print(y)

(<class 'int'>, <class 'str'>, <class 'float'>, <class 'bool'>, <class 'list'>)

In [62]:
# Question 21: Find the length of each string in ["apple", "banana", "cherry", "date"]
print("\nQuestion 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']")

Question 21: Find the length of each string in ['apple', 'banana', 'cherry', 'date']

In [64]:
x=['apple', 'banana', 'cherry', 'date']
len(x[0]),len(x[1]),len(x[2]),len(x[3]),

(5, 6, 6, 4)

In [65]:
# Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]")

Question 22: Create a list of tuples: [(1, 'a'), (2, 'b'), (3, 'c')]

In [66]:
x=[(1, 'a'), (2, 'b'), (3, 'c')]
y=type(x[0]),type(x[1]),type(x[2])
print(y)

(<class 'tuple'>, <class 'tuple'>, <class 'tuple'>)

In [67]:
# Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]
print("\nQuestion 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]")

Question 23: Extract first element from each tuple in [(1, 'a'), (2, 'b'), (3, 'c')]

In [73]:
x=[(1, 'a'), (2, 'b'), (3, 'c')]
y=[item[0]for item in x]
print(y)

[1, 2, 3]

In [74]:
# Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
print("\nQuestion 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]")

Question 24: Create a list of dictionaries: [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [75]:
x= [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]

In [76]:
# Question 25: Extract all 'name' values from list of dictionaries
print("\nQuestion 25: Extract all 'name' values from list of dictionaries")

Question 25: Extract all 'name' values from list of dictionaries

In [82]:
x= [{'name': 'Alice', 'age': 25}, {'name': 'Bob', 'age': 30}]
y=[d['name']for d in x]
print(y)

['Alice', 'Bob']

In [83]:
# Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
print("\nQuestion 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]")

Question 29: Create a list of sets: [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]

In [84]:
# Question 30: Find the union of all sets in list of sets
print("\nQuestion 30: Find the union of all sets in list of sets")

Question 30: Find the union of all sets in list of sets

In [86]:
x= [{1, 2, 3}, {4, 5, 6}, {7, 8, 9}]
y=set().union(*x)
print(y)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [87]:
# Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]
print("\nQuestion 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]")

Question 34: Count the depth of nesting in [1, [2, 3], [4, [5, 6]], 7]

In [88]:
# Question 35: Create a list of functions: [len, str, int, float]
print("\nQuestion 35: Create a list of functions: [len, str, int, float]")

Question 35: Create a list of functions: [len, str, int, float]

In [89]:
# Question 36: Apply each function in list to string "123"
print("\nQuestion 36: Apply each function in list to string '123'")

Question 36: Apply each function in list to string '123'

In [90]:
# Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]
print("\nQuestion 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]")

Question 37: Create a list of lambda functions: [lambda x: x*2, lambda x: x**2, lambda x: x+1]

In [91]:
# Question 38: Apply each lambda function to 5
print("\nQuestion 38: Apply each lambda function to 5")

Question 38: Apply each lambda function to 5