In [1]:
# Question 1: Create a tuple of first 10 natural numbers

print("Question 1: Create a tuple of first 10 natural numbers")

Question 1: Create a tuple of first 10 natural numbers

In [3]:
x=(1,2,3,4,5,6,7,8,9,10)

In [4]:
type(x)

tuple

In [5]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("\nQuestion 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)")

Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
x= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
len(x)

10

In [8]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')
print("\nQuestion 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')")

Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

In [9]:
x= ('a', 'b', 'c', 'd', 'e')
x[2]

'c'

In [10]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)
print("\nQuestion 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)")

Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

In [12]:
x=(23, 45, 12, 67, 34, 89, 56)
y=max(x)
print(y)

89

In [13]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)
print("\nQuestion 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)")

Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

In [15]:
x= (1, 5, 2, 5, 3, 5, 4, 5, 6)
y=x.count(5)
print(y)

4

In [16]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)
print("\nQuestion 6: Create a tuple of mixed data types (integer, float, string, boolean)")

Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

In [21]:
x=(123,22.345,"abcd",True)
y=type(x[0]),type(x[1]),type(x[2]),type(x[3])
print(y)

(<class 'int'>, <class 'float'>, <class 'str'>, <class 'bool'>)

In [22]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')
print("\nQuestion 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')")

Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

In [26]:
x=('java', 'python', 'c++', 'javascript')
x.index('python')

1

In [27]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)
print("\nQuestion 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)")

Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

In [29]:
x= (10, 20, 30, 40, 50)
y = 25

if y in x:
  print(f"{y} exists.")
else:
  print(f"{y} does not exist .")

25 does not exist .

In [30]:
# Question 9: Create a tuple of first 5 even numbers
print("\nQuestion 9: Create a tuple of first 5 even numbers")

Question 9: Create a tuple of first 5 even numbers

In [31]:
x=(2,4,6,8,10)
type(x)

tuple

In [32]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)
print("\nQuestion 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)")

Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

In [33]:
x=(15, 23, 31, 42, 56, 78)
sum(x)/len(x)

40.833333333333336